.videolisting-container{
    padding: 6.25rem;
}
.video-grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 25px;
    grid-column-gap: 10px;
}
@media screen and (max-width: 1427px){
    .video-grid{
    grid-template-columns: repeat(3, 33%);
    }
}
@media screen and (max-width: 1098px){
    .video-grid{
    grid-template-columns: repeat(2, 50%);
    }
}
@media screen and (max-width: 802px){
    .video-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}