.container-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 1.8rem;
    box-sizing: border-box;
    box-shadow: none;
}
.navbar-options{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.nav-icon:hover{
    color: var(--red);
    transition-duration: 0.1s;
}
.navbar-options>*{
    font-weight: 500;
    color: var(--darkgrey);
}
.navbar-options>*:hover{
    color: var(--red);
}
.nav-title{
    font-weight: 700;
    font-size: 1.5rem;
}
.logo{
    width: 2rem;
}