.container-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-options{
    gap: 40px;
    cursor: pointer;
}
.nav-options a{
    color: var(--darkgrey);
}
.searchbar{
    border: 1px solid var(--lightgrey);
    border-radius: 4px 0px 0px 4px;
    font-size: 1rem;
    padding: 8px 1rem;
    outline: none;
    color: var(--grey);
    width: clamp(200px, 30vw, 400px);
    position: relative;
}
.search-icon{
    color: var(--grey);
    font-weight: 200;
    border: 1px solid var(--lightgrey);
    border-radius: 0px 4px 4px 0px;
    padding: 8px 1rem;
    cursor: pointer;
}