.bold{
  font-weight: 700;
}
.remove-btn{
  border: 1px solid var(--red);
  color: var(--red);
  background: var(--white);
  margin-top: 1rem;
  width: max-content;
}
.remove-btn:hover{
  background: var(--red);
  color: var(--white);
  transition-duration: 0.2s;
}
.modal-container{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 30vh;
  background: var(--black);
  background: var(--black-op);
  position: fixed;
}